.env
db.sqlite3
migrations/
Files/
media/
mysql.cnf
mysql-local.cnf
mysql-server.cnf
.venv/
*.pyc
__pycache__
__pycache__/
/env
.env
.vscode
./__pycache__
celerybeat-schedule
.kolo/
auto_tests.py
.aider*
docker-compose.yml
db.sqlite3